# Rails
RAILS_MAX_THREADS=5

# Database
DB_HOST=localhost
DB_PORT=5432

# Development
DB_NAME_DEV=condominium_tickets_development
DB_USERNAME=condominium
DB_PASSWORD=password123

# Test
DB_NAME_TEST=condominium_tickets_test

# Production
DB_NAME_PROD=condominium_tickets_production
DB_USERNAME_PROD=condominium_tickets
DB_PASSWORD_PROD=your_production_password_here